<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../login-success/login-success.html">
<link rel="import" href="../login-error/login-error.html">
<link rel="import" href="../logout-usuario/logout-usuario.html">
<link rel="import" href="../sign-in/sign-in.html">
<link rel="import" href="../view-weather/view-weather.html">
<link rel="import" href="/bower_components/app-router/src/app-router.html">

<dom-module id="jsonbank-login">

<template>
  <style>
    :host {
      display: block;
    }
  </style>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <input placeholder="enter your email" type="email" value="{{email::input}}"></input>
  <input placeholder="enter your password" type="password" value="{{password::input}}"></input>
  <button on-click="login" class="badge badge-primary" data-toggle="tooltip" data-placement="top" title="Access online platform">login</button>
  <button on-click="signin" class="badge badge-primary" data-toggle="tooltip" data-placement="top" title="Be our customer!">sign-in</button>
  <button on-click="logout" class="badge badge-danger" data-toggle="tooltip" data-placement="top" title="Quit online platform">logout</button>

  <iron-ajax
    id="doLogin"
    url="http://localhost:3000/JSONBANK/login"
    handle-as="json"
    content-type="application/json"
    method="POST"
    on-response="manageAJAXResponse"
    on-error="showError"
  />

</template>

<script>
  /**
   * @customElement
   * @polymer
   */
  class JsonBankLogin extends Polymer.Element {
    static get is() { return 'jsonbank-login'; }
    static get properties() {
      return {
           password: {
          type: String
        }, email: {
          type: String
        }, id:{
          type: Number
        },
            isLogged:{
            value: false,
            type: Boolean
        }
      };
    }

    login() {
      console.log("El usuario ha pulsado el botón");
      console.log("Voy a enviar la petición");

      console.log("storeUserData");
      console.log (this.email);

      //Almacenamos la info en un objeto
      var userData={
          "email":this.email
      }

      window.localStorage.setItem("userData", JSON.stringify(userData));

      var loginData = {
        "email" : this.email,
        "password" : this.password
      };

      this.$.doLogin.body = JSON.stringify(loginData);

      console.log ("Cuerpo que le paso a la query: " + this.$.doLogin.body);

      this.$.doLogin.generateRequest();

      console.log("Petición enviada");
    }

    logout() {
      console.log("El usuario ha pulsado el botón de logout");

      window.location.href = "/logout/";
    }

    signin() {
      console.log("El usuario ha pulsado el botón de sign-in");

      window.location.href = "/signin/";
    }

    manageAJAXResponse(data) {
      console.log("Llegaron los resultados de la API");
      console.log(data.detail.response);

      this.isLogged = true;
      window.location.href = "/success/";
    }

    showError(error) {
      console.log("An error ocurred while trying to log in");
      this.isLogged = false;
      window.location.href = "/loginerror/"
    }
  }

  window.customElements.define(JsonBankLogin.is, JsonBankLogin);
</script>
<app-router>
  <app-route path="/"></app-route>
  <app-route path="/success/" import="/src/login-success/login-success.html"></app-route>
  <app-route path="/logout/" import="/src/logout-usuario/logout-usuario.html"></app-route>
  <app-route path="/signin/" import="/src/sign-in/sign-in.html"></app-route>
  <app-route path="/loginerror/" import="/src/login-error/login-error.html"></app-route>
  <app-route path="*" import="/src/page-not-found/page-not-found.html"></app-route>
</app-router>
</dom-module>
