<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="/bower_components/app-router/src/app-router.html">
<link rel="import" href="../login-usuario/login-usuario.html">

<dom-module id="jsonbank-login">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <p>Please enter your ID to login or leave blank to sign-in</p>
    <input placeholder="user ID" type="text" value="{{userid::input}}"></input>

    <select value="{{componentName::change}}">
      <option value=" ">I want to...</option>
      <option value="login-usuario">Login</option>
      <option value="visor-usuario">See my Account Profile</option>
      <option value="visor-cuenta">See my Financial Situation</option>
    </select>

    <iron-pages selected="{{componentName}}" attr-for-selected="component-name">
      <div component-name="login-usuario"><login-usuario></login-usuario></div>
      <div component-name="visor-usuario"><visor-usuario-redirect id={{userid}}></visor-usuario-redirect></div>
      <div component-name="visor-cuenta"><visor-cuenta-redirect id={{userid}}></visor-cuenta-redirect></div>
    </iron-pages>
  </template>

  <!-- JavaScript -->
  <script>
    /**
     * @customElement
     * @polymer
     */
    class jsonbanklogin extends Polymer.Element {
      static get is() { return 'jsonbank-login'; }
      static get properties() {
        return {
          componentName: {
            type: String
          }
        };
      }
    }

    window.customElements.define(jsonbanklogin.is, jsonbanklogin);
  </script>

  <app-router>
    <app-route path="/"></app-route>
    <app-route path="/login" import="/src/login-usuario/login-usuario.html"></app-route>
    <app-route path="/users/:id" import="/src/visor-usuario/visor-usuario.html"></app-route>
  </app-router>
</dom-module>
