<!--Include libraries to allow polymer components, AJAX requests, iron redirection and rerouting-->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/bower_components/app-router/src/app-router.html">

<!--Define tag name to be used on other HTML files-->
<dom-module id="create-transfer">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <!--Include bootstrap's css stylesheet-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Ask user to enter info to create a new transaction (deposit / withdrawal)-->
    <input placeholder="IBAN origin" type="text" value="{{ibanorigin::input}}"></input>
    <input placeholder="IBAN destination" type="text" value="{{ibandestination::input}}"></input>
    <input placeholder="amount" type="number" value="{{amount::input}}"></input>
    <button on-click="createtransfer" class="badge badge-primary" data-toggle="tooltip" data-placement="top" title="Make a transfer">Create transfer</button>

    <!--AJAX request to collect financial movements from API-->
    <iron-ajax
      id="doTransaction"
      url="http://localhost:3000/JSONBANK/transaction"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-error="showError"
    />

   </template>

  <!--Define class to create user account's transfer-->
  <script>
    /**
     * @customElement
     * @polymer
     */
    class CreateTransfer extends Polymer.Element {
      static get is() { return 'create-transfer'; }
      static get properties() {
        return {
          email: {
            type: String
          }, iban: {
            type: String
          }, transaction: {
            type: String
          }, amount: {
            type: Number
          }
        };
      }

      createtransfer() {
        //Collect email from localStorage so I can share it with all webpages        //Esto está perfectamente planteado para recuperar info del LocalStorage
        var userData=JSON.parse(localStorage.getItem("userData"));
        var withdrawAmount=this.amount * (-1);
        console.log (withdrawAmount);
        //End of collection from localStorage
        var transactionData = {
          "email" : userData.email,
          "iban" : this.ibanorigin,
          "transaction" : "W",
          "amount" : withdrawAmount
        };

        //AJAX request trigger
        this.$.doTransaction.body = JSON.stringify(transactionData);
        this.$.doTransaction.generateRequest();

        //Collect email from localStorage so I can share it with all webpages        //Esto está perfectamente planteado para recuperar info del LocalStorage
        var userData=JSON.parse(localStorage.getItem("userData"));
        //End of collection from localStorage
        var transactionData = {
          "email" : userData.email,
          "iban" : this.ibandestination,
          "transaction" : "D",
          "amount" : this.amount
        };

        //AJAX request trigger
        this.$.doTransaction.body = JSON.stringify(transactionData);
        this.$.doTransaction.generateRequest();

      }

      showError(error) {
        console.log("An error ocurred while creating the transfer");
      }

      goback(){
        window.location.href="/";
      }
    }

    window.customElements.define(CreateTransfer.is, CreateTransfer);
  </script>
</dom-module>
