<link rel="import" href="../../bower_components/polymer/polymer-element.html" />
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />
<link rel="import"  href="../../bower_components/polymer/lib/elements/dom-repeat.html" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<dom-module id="visor-cuenta">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <h3>Introduce el ID de usuario</h3>
    <input placeholder="User ID" type="text" value="{{userid::input}}"></input>

    <h2>Hola visor-cuenta</h2> <!-- Metemos el valor de la propiedad al HTML. Es un databinding -->
    <template is="dom-repeat" items="{{accounts}}">
      <h3>IBAN {{item.IBAN}}</h3>
      <h3>Saldo {{item.balance}}</h3>
    </br>
    </template>

    <!-- Desde aquí llamamos a nuestra API de lectura de usuarios desde MongoDB -->
    <!-- id="getUser" se puede llamar como quieras -->
    <iron-ajax auto
     id="getUser"
     url="http://localhost:3000/apitechu/v2/accounts/{{userid}}"
     handle-as="json"
     on-response="showData"
   />

  </template>

  <!-- JavaScript -->
  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuenta extends Polymer.Element {
      static get is() { return 'visor-cuenta'; }
      static get properties() {
        return {
          userid: {
            type: Number
          }, accounts: {
            type: Array
          }
        };
      }

      showData (data){
        console.log (data.detail.response[0]);
        this.accounts = data.detail.response;
      }
    }

    window.customElements.define(VisorCuenta.is, VisorCuenta);
  </script>
</dom-module>
