.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

image_left{
  float: left;
}

.member {
	display: inline-block;
  width: 30%;
	height: 50%;
	vertical-align: top;
  padding: 10px 20px;
}
.name {
    display: inline;
    text-align: left;
    font-size: 20px;
    font-family: courier;
    font-weight: bold;
}
.goal {
  display: inline;
  text-align: left;
  font-size: 16px;
  font-family: arial;
  font-weight: lighter;
  color: #cc3300;
}
.member img {
    width: 30%;
    display: block;
}

footer.disclaimer{
  color: #777777;
  font-weight: bold;
  font-size: 15px;
  background-color: #000000;
  width: 100%;
  position: relative;
}

footer.fixed_disclaimer{
    color: #777777;
    font-weight: bold;
    font-size: 15px;
    background-color: #000000;
    width: 100%;
    position: fixed;
    bottom: 0;
}

div.div_image_white_background{
  background-color: #FFFFFF;
}

div.div_image_black_background{
  background-color: #000000;
}

span.linespacing{
  word-spacing: 8px;
}

paragraph{
  color: white;
  font-size: 40px;
  font-family:courier;
  font-style: normal;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 50px;
  width: 100%;
}

paragraph.privacy{
  color: grey;
  text-align: left;
  font-size: 40px;
  font-family:courier;
  font-style: normal;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 50px;
  width: 100%;
}

div.content{
  color: darkgrey;
  text-align: left;
  font-size: 18px;
  font-family:arial;
  font-style: normal;
  font-weight:lighter;
  padding-left: 140px;
  width: 80%;
  height: 10%;
}

div.header{
  color: darkgrey;
  text-align: left;
  font-size: 60px;
  font-family:arial;
  font-style: normal;
  font-weight:lighter;
  padding-left: 140px;
  width: 90%;
  height: 10%;
}

column_left{
  font-family:cursive;
  font-size: 25px;
}

column_right{
  font-family:cursive;
  font-size: 20px;
  float: right;
  background-color: darkblue;
}

form_container{
  text-align: center;
}


table{
  width: 100%;
  text-align: center;
}

input[type=text]{
  background-color: white;
  border: none;
  color: black;
  padding: 15px 10px;
  text-align: left;
  align: center;
  display: inline-block;
  font-size: 15px;
}

button {
    background-color: #FFB133; /* Green */
    border: none;
    color: white;
    padding: 15px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}

div.mydiv{
  background-color: #000000;
  width: 100%;
}

div.whitediv{
  background-color: #FFFFFF;
  text-align: left;
  width: 80%;
}

form.myform{
  align: center;
  align-content: center;
  font-family: cursive;
  font-size: 40px;
  font-weight:bold;
  float: none;
  text-align: center;
  background-color: inherit;
  border-radius: 10px;
  display: inline-block;
}

form{
  align: center;
  align-content: center;
  font-family: cursive;
  font-size: 18px;
  font-weight:bold;
  float: none;
  text-align: center;
  background-color: #3352ff;
  border-radius: 10px;
  padding: 30px 20px;
  display: inline-block;
}

.img-with-text {
    text-align: justify;
    width: 70px;
}

body {
    background-color: #FFFFFF;
}

body.privacy{
  height: 90%;
}

div.float-left {
  float:left;
  width:33%; // 33% for equal width independent of parent width
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 5%;
    margin-right: 5%;
    border-style: inset;
    border-width: 1.5px;
    padding-left: 10px;
    padding-right: 10px;
}

h1 {
    color: red;
    text-align: left;
    font-size: 40px;
    font-family:cursive;
}

h2{
	color: darkblue;
	text-align: left;
	font-size: 20px;

p{
    font-family: verdana;
    font-size: 20px;
	text-align: center;
}

IMG.imagecenter{{
	align: center;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
