<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="frontproyecto-app">
  <template>
    <style>
      :host {
        display: block;
        border: solid blue; <!-- Estilo para el propio elemento Polymer -->
        /** all: initial; Sirve para anular el estilo definido en index.html en el componente Polymer */
      }

      .redbg{
        background-color: red;
      }

      .greenbg{
        background-color: green;
      }

      .bluebg{
        background-color: blue;
      }

      .greybg{
        background-color: grey;
      }
    </style>

    <!-- Incluimos la CSS de BootStrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <div class="row greybg">
      <div class="col-2 offset-3 col-sm-3 redbg text-center">Col red</div>
      <div class="col-3 col-sm-3 greenbg text-center">Col green</div>
      <div class="col-4 col-sm-3 bluebg">Col blue</div>
    </div>

    <br />

    <center>
      <button class="btn btn-outline-success btn-sm">Login</button>
      <button class="btn btn-outline-warning btn-sm">Logout</button>
    </center>

    <!--<h2>Soy [[first_name]] [[last_name]]</h2> Metemos el valor de la propiedad al HTML. Es un databinding -->
    <!-- <h3>y tengo [[age]] años</h3>-->

    <input type="text" value="{{first_name::input}}" /> 2-ways y le digo que escuche para esperar a que introduzca un valor en el campo-->
    <input type="range" min="18" value="{{age::input}}" max="99" />

  </template>

  <!-- JavaScript -->
  <script>
    /**
     * @customElement
     * @polymer
     */
    class FrontproyectoApp extends Polymer.Element {
      static get is() { return 'frontproyecto-app'; }
      static get properties() {
        return {
          first_name: {
            type: String
          }, last_name: {
            type: String
          }, age: {
            type: Number
          }
        };
      }
    }

    window.customElements.define(FrontproyectoApp.is, FrontproyectoApp);
  </script>
</dom-module>
