<link rel="import" href="../../bower_components/polymer/polymer-element.html" />
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">

<dom-module id="view-weather">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <div class="text-info">
      <h6 class="small">
      Forecast: {{weather}} <br>
      Temperature: {{temperature}} ºC <br>
      Humidity: {{humidity}}% <br>
      </h6>
    </div>

    <iron-ajax auto
     id="getWeather"
     url="http://localhost:3000/JSONBANK/getexternalapi"
     handle-as="json"
     content-type="application/json"
     method="GET"
     on-response="showWeather"
    />
  </template>

  <!-- JavaScript -->
  <script>
    class ViewWeather extends Polymer.Element {
      static get is() { return 'view-weather'; }
      static get properties() {
        return {
          temperature: {
            type: String
          }, pressure: {
            type: String
          }, humidity: {
            type: String
          }, weather: {
            type: String
          }
        };
      }

      showWeather (data){
        console.log ("Info " + data.detail.response);
        //console.log("Temperature: " + forecast.main.temp);
        //console.log ("Pressure: " + forecast.main.pressure);
        //console.log ("Humidity: " + forecast.main.humidity);
        //console.log ("Weather: " + forecast.weather[0].main);
        //console.log("City: " + forecast.name);
        this.temperature = Math.round((data.detail.response.main.temp - 32)*(5/9));
        this.humidity = data.detail.response.main.humidity;
        this.weather = data.detail.response.weather[0].main;

      }
    }
    window.customElements.define(ViewWeather.is, ViewWeather);
  </script>
</dom-module>
