<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../view-account/view-account.html">
<link rel="import" href="../view-financial/view-financial.html">
<link rel="import" href="../create-transaction/create-transaction.html">
<link rel="import" href="../create-accounts/create-accounts.html">
<link rel="import" href="../create-transfer/create-transfer.html">

<dom-module id="login-error">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <!-- Incluimos la CSS de BootStrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <center>
      <div class="alert alert-primary">
        <h5>Couldn't connect to JSON BANK!</h5>
        <h6 class="badge badge-pill">Do please try again entering your credentials</h6>
        <button on-click="goback" class="badge badge-danger">Retry</button>
      </div>

  </center>

   </template>

  <!-- JavaScript -->
  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginError extends Polymer.Element {
      static get is() { return 'login-error'; }
      static get properties() {
        return {
        };
      }

      goback(){
        window.location.href="/";
      }
    }

    window.customElements.define(LoginError.is, LoginError);
  </script>
</dom-module>
