<link rel="import" href="../../bower_components/polymer/polymer-element.html" />
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />
<link rel="import" href="/bower_components/app-router/src/app-router.html">
<link rel="import" href="/src/visor-usuario/visor-usuario.html">
<link rel="import" href="/src/login-success/login-success.html">

<dom-module id="forward-button">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <input placeholder="User ID" type="text" value="{{userid::input}}"></input>
    <button on-click="redirect">Click</button>

  </template>

  <script>
    class ForwardButton extends Polymer.Element {
      static get is() { return 'forward-button'; }
      static get properties() {
        return {
          first_name: {
            type: String
          }, last_name: {
            type: String
          }, email: {
            type: String
          }, userid: {
            type: String
          }
        };
      }

      showError(error){
        console.log("Error");
      }

      redirect(){
        /*window.location.href="/users/" + this.userid;*/
        window.location.href="/login-success/";
      }

    }

    window.customElements.define(ForwardButton.is, ForwardButton);
  </script>

  <app-router>
    <app-route path="/"></app-route>
    <app-route path="/users/:id" import="/src/visor-usuario/visor-usuario.html"></app-route>
    <app-route path="/login-success/" import="/src/login-success/login-success.html"></app-route>
  </app-router>

</dom-module>
