<link rel="import" href="../../bower_components/polymer/polymer-element.html" />
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />

<dom-module id="show-user-button">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <input placeholder="User ID" type="text" value="{{userid::input}}"></input>

    <h2>Soy User Button {{first_name}} {{last_name}}</h2>
    <!--<a href="../users/{{id}}">Ver cuentas</a>-->

    <iron-ajax auto
     id="getUser"
     url="http://localhost:3000/apitechu/v2/users/{{userid}}"
     handle-as="json"
     content-type="application/json"

     on-error="showError"
    />
  </template>

  <script>
    class ShowUserButton extends Polymer.Element {
      static get is() { return 'show-user-button'; }
      static get properties() {
        return {
          first_name: {
            type: String
          }, last_name: {
            type: String
          }, email: {
            type: String
          }, userid: {
            type: String
          }
        };
      }

      showError(error){
        console.log("Error");
      }

    }
    window.customElements.define(ShowUserButton.is, ShowUserButton);
  </script>
</dom-module>
