<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/bower_components/app-router/src/app-router.html">

<dom-module id="create-accounts">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Ask user to confirm he/she wants to see his/her accounts-->
    <div class="alert alert-secondary">
      <hr>
      <center>
        <h6 class="badge badge-pill badge-warning">Do please confirm you want to create a new account by clicking:</h6>
        <button on-click="createaccounts" class="badge badge-primary" data-toggle="tooltip" data-placement="top" title="Create account">Create account</button>
        <hr>
      </center>
    </div>

    <iron-ajax
      id="doAccount"
      url="http://localhost:3000/JSONBANK/newaccount"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-error="showError"
    />

   </template>

  <!-- JavaScript -->
  <script>
    /**
     * @customElement
     * @polymer
     */
    class CreateAccounts extends Polymer.Element {
      static get is() { return 'create-accounts'; }
      static get properties() {
        return {
          email: {
            type: String
          }, iban: {
            type: String
          }, userId: {
            type: Number
          }, balance: {
            type: String
          }
        };
      }

      createaccounts() {
        console.log("El usuario ha pulsado el botón");
        console.log("Voy a enviar la petición");

        //Esto está perfectamente planteado para recuperar info del LocalStorage
        var userData=JSON.parse(localStorage.getItem("userData"));
        console.log(userData.email);
        //Fin recuperación del dato de LocalStorage

        var transactionData = {
          "email" : userData.email,
          "IBAN" : "",
          "userId" : userData.email,
          "balance" : "0"
        };

        this.$.doAccount.body = JSON.stringify(transactionData);
        this.$.doAccount.generateRequest();

        console.log("Petición enviada");
      }

      showError(error) {
        console.log("Ha habido un error");
        console.log(error);

      }

      goback(){
        window.location.href="/";
      }
    }

    window.customElements.define(CreateAccounts.is, CreateAccounts);
  </script>
</dom-module>
