<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../login-usuario/login-usuario.html">
<link rel="import" href="../visor-usuario/visor-usuario.html">
<link rel="import" href="../show-user/show-user.html">

<dom-module id="test-iron-pages">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <p class = "text-success">Bua chaval</p>
    <h1 class="jumbotron">Test iron pages</h1>
    <select value="{{componentName::change}}">
      <option value=" ">Seleccionar componente</option>
      <!--<option value="show-user">Login usuario</option>-->
      <option value="login-usuario">Login usuario</option>
      <option value="visor-usuario">Visor usuario</option>
    </select>
    <iron-pages selected="{{componentName}}" attr-for-selected="component-name">
      <!--<div component-name="show-user"><show-user></show-user></div>-->
      <div component-name="login-usuario"><login-usuario></login-usuario></div>
      <div component-name="visor-usuario"><visor-usuario id="1"></visor-usuario></div>
    </iron-pages>
  </template>

  <!-- JavaScript -->
  <script>
    /**
     * @customElement
     * @polymer
     */
    class TestIronPages extends Polymer.Element {
      static get is() { return 'test-iron-pages'; }
      static get properties() {
        return {
          componentName: {
            type: String
          }
        };
      }
    }

    window.customElements.define(TestIronPages.is, TestIronPages);
  </script>
</dom-module>
