<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../visor-cuenta/visor-cuenta.html">
<link rel="import" href="../login-success/login-success.html">
<link rel="import" href="/bower_components/app-router/src/app-router.html">

<dom-module id="login-usuario">
<template>
  <style>
    :host {
      display: block;
    }
  </style>

  <input placeholder="enter your email" type="email" value="{{email::input}}"></input>
  <input placeholder="enter your password" type="password" value="{{password::input}}"></input>
  <button on-click="login">Login</button>
  <span hidden$="{{!isLogged}}">Welcome to JSON BANK!
  <br />

  </span>

  <iron-ajax
    id="doLogin"
    url="http://localhost:3000/apitechu/v2/login"
    handle-as="json"
    content-type="application/json"
    method="POST"
    on-response="manageAJAXResponse"
    on-error="showError"
  />

</template>

<script>
  /**
   * @customElement
   * @polymer
   */
  class LoginUsuario extends Polymer.Element {
    static get is() { return 'login-usuario'; }
    static get properties() {
      return {
           password: {
          type: String
        }, email: {
          type: String
        }, id:{
          type: Number
        },
            isLogged:{
            value: false,
            type: Boolean
        }
      };
    }

    login() {
      console.log("El usuario ha pulsado el botón");
      console.log("Voy a enviar la petición");

      var loginData = {
        "email" : this.email,
        "password" : this.password,
        "id" : this.id
      };

      this.$.doLogin.body = JSON.stringify(loginData);
      this.$.doLogin.generateRequest();

      console.log("Petición enviada");
    }

    manageAJAXResponse(data) {
      console.log("Llegaron los resultados de la API");
      console.log(data.detail.response);

      this.isLogged = true;
      window.location.href = "./success/";
    }

    showError(error) {
      console.log("Ha habido un error");
      console.log(error);

      this.isLogged = false;
    }
  }

  window.customElements.define(LoginUsuario.is, LoginUsuario);
</script>
<app-router>
  <app-route path="/"></app-route>
  <app-route path="/login" import="/src/login-usuario/login-usuario.html"></app-route>
  <app-route path="/users/:id" import="/src/visor-usuario/visor-usuario.html"></app-route>
  <app-route path="/success/" import="/src/login-success/login-success.html"></app-route>
  <app-route path="*" import="/src/page-not-found/page-not-found.html"></app-route>
</app-router>
</dom-module>
