<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="vista-app">
  <template>
    <style>
      :host {
        display: block;
        border: solid blue; <!-- Estilo para el propio elemento Polymer -->
      }
    </style>

    <h2>Hola [[first_name]] [[last_name]]</h2>

    <!-- Incluimos la CSS de BootStrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <input type="text" value="{{first_name::input}}" />
    <input type="text" value="{{last_name::input}}" />
   </template>

  <!-- JavaScript -->
  <script>
    /**
     * @customElement
     * @polymer
     */
    class VistaApp extends Polymer.Element {
      static get is() { return 'vista-app'; }
      static get properties() {
        return {
          first_name: {
            type: String
          }, last_name: {
            type: String
          }
        };
      }
    }

    window.customElements.define(VistaApp.is, VistaApp);
  </script>
</dom-module>
