<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/bower_components/app-router/src/app-router.html">

<dom-module id="create-account">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <input placeholder="IBAN" type="text" value="{{iban::input}}"></input>
    <<!--<input placeholder="transaction" type="text" value="{{transaction::input}}"></input>
    <input placeholder="amount" type="number" value="{{amount::input}}"></input>-->
    <button on-click="createaccount" class="badge badge-primary">Create account</button>

    <iron-ajax
      id="doAccount"
      url="http://localhost:3000/JSONBANK/createAccount"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-error="showError"
    />

   </template>

  <!-- JavaScript -->
  <script>
    /**
     * @customElement
     * @polymer
     */
    class CreateAccount extends Polymer.Element {
      static get is() { return 'create-account'; }
      static get properties() {
        return {
          email: {
            type: String
          }, iban: {
            type: String
          }, userId: {
            type: Number
          }, balance: {
            type: String
          }
        };
      }

      createaccount() {
        console.log("El usuario ha pulsado el botón");
        console.log("Voy a enviar la petición");

        console.log("storeAccountData");
        console.log (this.iban);

        //Esto está perfectamente planteado para recuperar info del LocalStorage
        var userData=JSON.parse(localStorage.getItem("userData"));
        console.log(userData.email);
        //Fin recuperación del dato de LocalStorage

        var transactionData = {
          "email" : userData.email,
          "iban" : this.iban,
          "transaction" : this.transaction,
          "amount" : this.amount
        };

        this.$.doTransaction.body = JSON.stringify(transactionData);
        this.$.doTransaction.generateRequest();

        console.log("Petición enviada");
      }

      showError(error) {
        console.log("Ha habido un error");
        console.log(error);

      }

      goback(){
        window.location.href="/";
      }
    }

    window.customElements.define(CreateTransaction.is, CreateTransaction);
  </script>
</dom-module>
