<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="receptor-evento">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h1>Soy el receptor</h1>
    <h3>Este curso es [[course]]</h3>
    <h3>y estamos en [[year]]</h3>
    <!--<input type="text" value="{{course::input}}"></input> <!Two ways-->
  </template>

  <!-- JavaScript -->
  <script>
    /**
     * @customElement
     * @polymer
     */
    class ReceptorEvento extends Polymer.Element {
      static get is() { return 'receptor-evento'; }
      static get properties() {
        return {
          course : {
            type: String,
            observer: '_courseChanged'
          }, year: {
            type: String
          }
        };
      }

      _courseChanged(newValue, oldValue){
        console.log("El valor de course ha cambiado");
        console.log("Valor nuevo " + newValue);
        console.log("Valor antiguo " + oldValue);
      }
    }

    window.customElements.define(ReceptorEvento.is, ReceptorEvento);
  </script>
</dom-module>
