<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="emisor-evento">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h1>Soy el emisor</h1>
    <input placeholder="Nombre" type="text" value="{{nombre::input}}">Nombre del Curso</input>
    <input placeholder="Nombre" type="text" value="{{anno::input}}">Año del Curso</input>
    <br />
    <button on-click="sendEvent">Pulsar</button>

  </template>

  <!-- JavaScript -->
  <script>
    /**
     * @customElement
     * @polymer
     */
    class EmisorEvento extends Polymer.Element {
      static get is() { return 'emisor-evento'; }
      static get properties() {
        return {
        };
      }

      sendEvent(e) {
       console.log("Se ha pulsado el botón");
       console.log(e);

       this.dispatchEvent(
         // estamos pasando como parametro un evento
         new CustomEvent(
           "myevent",
           {
             "detail": {
               "course": this.nombre,
               "year": this.anno
             }
         }
         )
       )
     }
   }

    window.customElements.define(EmisorEvento.is, EmisorEvento);
  </script>
</dom-module>
