<!--Include libraries to allow polymer components, AJAX requests, iron redirection and rerouting-->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/bower_components/app-router/src/app-router.html">

<!--Define tag name to be used on other HTML files-->
<dom-module id="cancel-account">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <!--Include bootstrap's css stylesheet-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Ask user to enter info to cancel an account-->
    <input placeholder="IBAN" type="text" value="{{iban::input}}"></input>
    <button on-click="cancelaccount" class="badge badge-primary" data-toggle="tooltip" data-placement="top" title="Cancel an account">Cancel an account</button>

    <!--AJAX request to collect financial movements from API-->
    <iron-ajax
      id="doTransaction"
      url="http://localhost:3000/JSONBANK/cancelaccount"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-error="showError"
    />

   </template>

  <!--Define class to cancel a user account-->
  <script>
    /**
     * @customElement
     * @polymer
     */
    class CancelAccount extends Polymer.Element {
      static get is() { return 'cancel-account'; }
      static get properties() {
        return {
          email: {
            type: String
          }, iban: {
            type: String
          }, transaction: {
            type: String
          }, amount: {
            type: Number
          }
        };
      }

      cancelaccount() {
        //Collect IBAN from input
        var transactionData = {
          "iban" : this.iban
        };

        //AJAX request trigger
        this.$.doTransaction.body = JSON.stringify(transactionData);
        this.$.doTransaction.generateRequest();
      }

      showError(error) {
        console.log("An error ocurred while cancelling the account");
      }

      goback(){
        window.location.href="/";
      }
    }

    window.customElements.define(CancelAccount.is, CancelAccount);
  </script>
</dom-module>
