<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/bower_components/app-router/src/app-router.html">

<dom-module id="logout-usuario">
<template>
  <style>
    :host {
      display: block;
    }
  </style>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <div class="alert alert-secondary">
    <center>
      <h6>
        <center>Do please confirm you want to get disconnected from JSON BANK app by clicking below:"</center>
        <br />
        <button on-click="logout" class="badge badge-danger">logout</button>
      </h6>
    </center>
  </div>

  <iron-ajax
    id="doLogout"
    url="http://localhost:3000/JSONBANK/logout"
    handle-as="json"
    content-type="application/json"
    method="POST"
    on-error="showError"
  />

</template>

<script>
  /**
   * @customElement
   * @polymer
   */

  class LogoutUsuario extends Polymer.Element {
    static get is() { return 'logout-usuario'; }
    static get properties() {
      return {
          email: {
          type: String
        }
      };
    }

    logout() {
      console.log("logout");



      //Esto está perfectamente planteado para recuperar info del LocalStorage
      var userData=JSON.parse(localStorage.getItem("userData"));
      console.log(userData.email);
      //Fin recuperación del dato de LocalStorage

      var logoutData={
        "email": this.email
      }

      console.log ("email del input: " + logoutData.email);

      //this.$.doLogout.body = JSON.stringify(logoutData);

      this.$.doLogout.body = JSON.stringify(userData);

      console.log ("email que se le pasa a la query: " + this.$.doLogout.body);

      this.$.doLogout.generateRequest();

      console.log("Petición enviada");

      localStorage.clear();
      window.location.href="/";
    }

    showError(error) {
      console.log("Ha habido un error");
      console.log(error);
    }

  }

  window.customElements.define(LogoutUsuario.is, LogoutUsuario);
</script>
<app-router>
  <app-route path="/"></app-route>
  <app-route path="/success/" import="/src/login-success/login-success.html"></app-route>
  <app-route path="/signin/" import="/src/sign-in/sign-in.html"></app-route>
  <app-route path="*" import="/src/page-not-found/page-not-found.html"></app-route>
</app-router>
</dom-module>
