<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="emisor-evento-ajaz">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h1>Soy el emisor</h1>
    <input placeholder="User ID" type="text" value="{{id::input}}">User ID</input>
    <br />
    <button on-click="sendEvent">Pulsar</button>

    <iron-ajax auto
    id="getUser"
    url="http://localhost::3000/apitechu/v2/users/{{id}}"
    handle-as="json"
    on-response="showData"
    />

  </template>

  <!-- JavaScript -->
  <script>
    /**
     * @customElement
     * @polymer
     */
    class EmisorEventoAjaz extends Polymer.Element {
      static get is() { return 'emisor-evento-ajaz'; }
      static get properties() {
        return {
        };
      }

      sendEvent(e) {
       console.log("Se ha pulsado el botón");
       console.log(e);

       this.dispatchEvent(
         // estamos pasando como parametro un evento
         new CustomEvent(
           "myevent",
           {
             "detail": {
               "course": this.first_name
             }
         }
         )

    /**     new CustomEvent(
           "myevent",
           {
               "detail": {
                 "course": "TechU",
                 "year": 2018
               }
           }
         ) */
       )
     }

     showData(data){
       this.first_name=data.detail.response.first_name;
     }
   }

    window.customElements.define(EmisorEventoAjaz.is, EmisorEventoAjaz);
  </script>
</dom-module>
