<!--Include libraries to allow polymer components, AJAX requests and dom-repeat-->
<link rel="import" href="../../bower_components/polymer/polymer-element.html" />
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />
<link rel="import"  href="../../bower_components/polymer/lib/elements/dom-repeat.html" />

<!--Define tag name to be used on other HTML files-->
<dom-module id="view-account">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <!--Include bootstrap's css stylesheet-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Loop structure to show user's accounts-->
    <template is="dom-repeat" items="{{accounts}}">
      <hr>
      <h6 style="color:darkblue">IBAN {{item.IBAN}}</h6>
      <h6 style="color:darkgreen">Account balance: {{item.balance}}</h6>
      <hr>
    </template>

    <!--Ask user to confirm he/she wants to see his/her accounts-->
    <div class="alert alert-secondary">
      <hr>
      <center>
        <h6 class="badge badge-pill badge-warning">Do please confirm you want to check your financial health by clicking:</h6>
        <button on-click="showaccount" class="badge badge-primary" data-toggle="tooltip" data-placement="top" title="View/Refresh">See accounts</button>
        <hr>
      </center>
    </div>

    <!--AJAX request to collect financial movements from API-->
    <iron-ajax
     id="getUser"
     url="http://localhost:3000/JSONBANK/accounts"
     handle-as="json"
     content-type="application/json"
     method="POST"
     on-response="showData"
   />

  </template>

  <!--Define class to collect user's accounts-->
  <script>
    /**
     * @customElement
     * @polymer
     */
    class ViewAccount extends Polymer.Element {
      static get is() { return 'view-account'; }
      static get properties() {
        return {
          email: {
            type: String
          }, accounts: {
            type: Array
          }
        };
      }

      showaccount(){
        //Collect email from localStorage so I can share it with all webpages
        var userData=JSON.parse(localStorage.getItem("userData"));
        console.log(userData.email);
        //End of collection from localStorage
        //AJAX request trigger
        this.$.getUser.body = JSON.stringify(userData);
        this.$.getUser.generateRequest();
        //window.location.href="/";
      }

      showData (data){
        this.accounts = data.detail.response;
      }
    }

    window.customElements.define(ViewAccount.is, ViewAccount);
  </script>
</dom-module>
