<!--Include libraries to allow polymer components, AJAX requests, iron redirection and rerouting-->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/bower_components/app-router/src/app-router.html">

<!--Define tag name to be used on other HTML files-->
<dom-module id="create-transaction">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <!--Include bootstrap's css stylesheet-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Ask user to enter info to create a new transaction (deposit / withdrawal)-->
    <input placeholder="IBAN" type="text" value="{{iban::input}}"></input>
    <input placeholder="transaction" type="text" value="{{transaction::input}}"></input>
    <input placeholder="amount" type="number" value="{{amount::input}}"></input>
    <button on-click="createtransaction" class="badge badge-primary" data-toggle="tooltip" data-placement="top" title="Make a Deposit or Withdrawal">Create transaction</button>

    <!--AJAX request to collect financial movements from API-->
    <iron-ajax
      id="doTransaction"
      url="http://localhost:3000/JSONBANK/transaction"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-error="showError"
    />

   </template>

  <!--Define class to create user account's transaction-->
  <script>
    /**
     * @customElement
     * @polymer
     */
    class CreateTransaction extends Polymer.Element {
      static get is() { return 'create-transaction'; }
      static get properties() {
        return {
          email: {
            type: String
          }, iban: {
            type: String
          }, transaction: {
            type: String
          }, amount: {
            type: Number
          }
        };
      }

      createtransaction() {
        //Collect email from localStorage so I can share it with all webpages        //Esto está perfectamente planteado para recuperar info del LocalStorage
        var userData=JSON.parse(localStorage.getItem("userData"));
        //End of collection from localStorage
        var transactionData = {
          "email" : userData.email,
          "iban" : this.iban,
          "transaction" : this.transaction,
          "amount" : this.amount
        };

        //AJAX request trigger
        this.$.doTransaction.body = JSON.stringify(transactionData);
        this.$.doTransaction.generateRequest();
      }

      showError(error) {
        console.log("An error ocurred while creating the transaction");
      }

      goback(){
        window.location.href="/";
      }
    }

    window.customElements.define(CreateTransaction.is, CreateTransaction);
  </script>
</dom-module>
