<link rel="import" href="../../bower_components/polymer/polymer-element.html" />
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />

<dom-module id="redirect-button">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <input placeholder="User ID" type="text" value="{{userid::input}}"></input>
    <button on-click="redirect">Click</button>

    <iron-ajax
     id="getUser"
     url="http://localhost:3000/apitechu/v2/users/{{userid}}"
     handle-as="json"
     content-type="application/json"

     on-error="showError"
    />
  </template>

  <script>
    class RedirectButton extends Polymer.Element {
      static get is() { return 'redirect-button'; }
      static get properties() {
        return {
          first_name: {
            type: String
          }, last_name: {
            type: String
          }, email: {
            type: String
          }, userid: {
            type: String
          }
        };
      }

      showError(error){
        console.log("Error");
      }

      redirect(){
        window.location.href="./accounts/" + this.userid;
      }

    }

    window.customElements.define(RedirectButton.is, RedirectButton);
  </script>
</dom-module>
