<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-usuario-redirect">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h3>Soy [[first_name]] [[last_name]]</h3> <!-- Metemos el valor de la propiedad al HTML. Es un databinding -->
    <h3>y mi email es [[email]]</h3>
    <h3>y mi ID es [[id]]</h3>

    <!-- Desde aquí llamamos a nuestra API de lectura de usuarios desde MongoDB -->
    <iron-ajax auto
     id="getUser"
     url="http://localhost:3000/apitechu/v2/users/{{id}}"
     handle-as="json"
     on-response="showData"
   />

  </template>

  <!-- JavaScript -->
  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuarioRedirect extends Polymer.Element {
      static get is() { return 'visor-usuario-redirect'; }
      static get properties() {
        return {
          first_name: {
            type: String
          }, last_name: {
            type: String
          }, email: {
            type: String
          }, id: {
            type: Number
          }
        };
      }

      showData (data){
        console.log ("showData");
        console.log (data.detail);
        console.log (data.detail.response);

        this.first_name = data.detail.response.first_name;
        this.last_name = data.detail.response.last_name;
        this.email = data.detail.response.email;
      }
    }

    window.customElements.define(VisorUsuarioRedirect.is, VisorUsuarioRedirect);
  </script>
</dom-module>
