<!--Include libraries to allow polymer components, AJAX requests and dom-repeat-->
<link rel="import" href="../../bower_components/polymer/polymer-element.html" />
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html" />

<!--Define tag name to be used on other HTML files-->
<dom-module id="view-financial">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <!--Include bootstrap's css stylesheet-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Loop structure to show financial movements on user's accounts-->
    <template is="dom-repeat" items="{{financials}}">
      <hr>
      <h6 style="color:darkblue">IBAN {{item.IBAN}}</h6>
      <h6 style="color:darkgreen">Account operation: {{item.transaction}} Amount: {{item.amount}}</h6>
      <hr>
    </template>

    <!--Ask user to confirm he/she wants to see financial movements-->
    <div class="alert alert-secondary">
        <hr>
        <h6 class="badge badge-pill badge-warning">Do please confirm you want to see financials by clicking:</h6>
        <button on-click="showfinancial" class="badge badge-primary" data-toggle="tooltip" data-placement="top" title="View/Refresh">See financials</button>
        <hr>
      </center>
    </div>

    <!--AJAX request to collect financial movements from API-->
    <iron-ajax
     id="getUser"
     url="http://localhost:3000/JSONBANK/financials"
     handle-as="json"
     content-type="application/json"
     method="POST"
     on-response="showData"
   />

  </template>

  <!--Define class to collect user's financial movements-->
  <script>
    /**
     * @customElement
     * @polymer
     */
    class ViewFinancial extends Polymer.Element {
      static get is() { return 'view-financial'; }
      static get properties() {
        return {
          email: {
            type: String
          }, accounts: {
            type: Array
          }
        };
      }

      showfinancial(){
        //Collect email from localStorage so I can share it with all webpages
        var userData=JSON.parse(localStorage.getItem("userData"));
        //End of collection from localStorage
        //AJAX request trigger
        this.$.getUser.body = JSON.stringify(userData);
        this.$.getUser.generateRequest();
        //window.location.href="/";
      }

      showData (data){
        this.financials = data.detail.response;
      }
    }

    window.customElements.define(ViewFinancial.is, ViewFinancial);
  </script>
</dom-module>
