<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../view-account/view-account.html">
<link rel="import" href="../view-financial/view-financial.html">
<link rel="import" href="../create-transaction/create-transaction.html">
<link rel="import" href="../create-accounts/create-accounts.html">
<link rel="import" href="../create-transfer/create-transfer.html">
<link rel="import" href="../cancel-account/cancel-account.html">

<dom-module id="login-success">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <!-- Incluimos la CSS de BootStrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <center>
      <div class="alert alert-primary">
        <h5>Welcome to JSON BANK!</h5>
        <h6 class="badge badge-pill">Do please select any option you want to start getting the best out of your financials</h6>
      </div>

      <select value="{{componentName::change}}" style="color:darkblue">
        <option value=" " style="color:red">I want to...</option>
        <option value="view-account" style="color:blue">View account</option>-->
        <option value="view-financial" style="color:blue">View financials</option>-->
        <option value="create-transaction" style="color:blue">Make a deposit/withdrawal</option>
        <option value="create-transfer" style="color:blue">Make a transfer</option>
        <option value="create-account" style="color:blue">Create a new account</option>
        <option value="cancel-account" style="color:blue">Cancel an account</option>
      </select>
      <button on-click="goback" class="badge badge-danger" data-toggle="tooltip" data-placement="top" title="Go to HOME page">Click Back</button>
      <iron-pages selected="{{componentName}}" attr-for-selected="component-name">
        <div component-name="view-account"><view-account></view-account></div>
        <div component-name="view-financial"><view-financial></view-financial></div>
        <div component-name="create-transaction"><create-transaction></create-transaction></div>
        <div component-name="create-transfer"><create-transfer></create-transfer></div>
        <div component-name="create-account"><create-accounts></create-accounts></div>
        <div component-name="cancel-account"><cancel-account></cancel-account></div>
      </iron-pages>

  </center>

   </template>

  <!-- JavaScript -->
  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginSuccess extends Polymer.Element {
      static get is() { return 'login-success'; }
      static get properties() {
        return {
        };
      }

      goback(){
        var userData={
          "email": localStorage.getItem("userData")
        }

        var mail=userData.email;

        console.log (mail);

        window.location.href="/";

      }
    }

    window.customElements.define(LoginSuccess.is, LoginSuccess);
  </script>
</dom-module>
