<link rel="import" href="../../bower_components/polymer/polymer-element.html" />
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />

<dom-module id="show-user">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <input placeholder="User ID" type="text" value="{{id::input}}"></input>
    <h2>Soy {{first_name}} {{last_name}}</h2>
    <!--<a href="../users/{{id}}">Ver cuentas</a>-->

    <iron-ajax auto
     id="getUser"
     url="http://localhost:3000/apitechu/v2/users/{{id}}"
     handle-as="json"
     on-response="showUser"
    />
  </template>

  <!-- JavaScript -->
  <script>
    class ShowUser extends Polymer.Element {
      static get is() { return 'show-user'; }
      static get properties() {
        return {
          first_name: {
            type: String
          }, last_name: {
            type: String
          }, email: {
            type: String
          }, userid: {
            type: String
          }
        };
      }

      showUser (data){
        this.first_name = data.detail.response.first_name;
        this.last_name = data.detail.response.last_name;
        this.email = data.detail.response.email;
        /**window.location = "users/" + data.detail.response.userid;*/
      }
    }
    window.customElements.define(ShowUser.is, ShowUser);
  </script>
</dom-module>
