<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../login-usuario/login-usuario.html">
<link rel="import" href="../visor-usuario-redirect/visor-usuario-redirect.html">
<link rel="import" href="../visor-cuenta-redirect/visor-cuenta-redirect.html">

<dom-module id="test-iron-pages-redirect">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <p>Número de Cliente</p>
    <input placeholder="ID de Usuario" type="text" value="{{userid::input}}"></input>

    <select value="{{componentName::change}}">
      <option value=" ">Quiero</option>
      <option value="visor-usuario">Ver mi Cuenta</option>
      <option value="visor-cuenta">Ver mi Estado Financiero</option>
      <option value="visor-cuenta-redirect">Ver mi Estado Financiero</option>
    </select>

    <iron-pages selected="{{componentName}}" attr-for-selected="component-name">
      <div component-name="visor-usuario"><visor-usuario-redirect id={{userid}}></visor-usuario-redirect></div>
      <div component-name="visor-cuenta"><visor-cuenta-redirect id={{userid}}></visor-cuenta-redirect></div>
      <div component-name="visor-cuenta-redirect"><visor-cuenta id={{userid}}></visor-cuenta></div>
    </iron-pages>

    <select value="{{componentOption::change}}">
      <option value=" ">Quiero</option>
      <option value="visor-usuario">Ver mi Cuenta</option>
      <option value="visor-cuenta">Ver mi Estado Financiero</option>
      <option value="visor-cuenta-redirect">Ver mi Estado Financiero</option>
    </select>

    <iron-pages selected="{{componentOption}}" attr-for-selected="component-option">
      <div component-option="visor-usuario"><visor-usuario-redirect id={{userid}}></visor-usuario-redirect></div>
      <div component-option="visor-cuenta"><visor-cuenta-redirect id={{userid}}></visor-cuenta-redirect></div>
      <div component-option="visor-cuenta-redirect"><visor-cuenta id={{userid}}></visor-cuenta></div>
    </iron-pages>
  </template>

  <!-- JavaScript -->
  <script>
    /**
     * @customElement
     * @polymer
     */
    class TestIronPagesRedirect extends Polymer.Element {
      static get is() { return 'test-iron-pages-redirect'; }
      static get properties() {
        return {
          componentName: {
            type: String
          }
        };
      }
    }

    window.customElements.define(TestIronPagesRedirect.is, TestIronPagesRedirect);
  </script>
</dom-module>
