<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/bower_components/app-router/src/app-router.html">

<dom-module id="sign-in">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <input placeholder="first name" type="text" value="{{first_name::input}}"></input>
    <input placeholder="last name" type="text" value="{{last_name::input}}"></input>
    <input placeholder="email" type="email" value="{{email::input}}"></input>
    <input placeholder="password" type="password" value="{{password::input}}"></input>
    <button on-click="signin" class="badge badge-primary">Sign-in</button>
    <button on-click="goback" class="badge badge-primary">Click Back</button>

    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/JSONBANK/user"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-error="showError"
    />

   </template>

  <!-- JavaScript -->
  <script>
    /**
     * @customElement
     * @polymer
     */
    class SignIn extends Polymer.Element {
      static get is() { return 'sign-in'; }
      static get properties() {
        return {
             email: {
            type: String
          }, password: {
            type: String
          }, first_name: {
            type: String
          }, last_name: {
            type: String
          },
            id:{
            type: Number
          }
        };
      }

      signin() {
        console.log("El usuario ha pulsado el botón");
        console.log("Voy a enviar la petición");

        console.log("storeUserData");
        console.log (this.email);

        //Almacenamos la info en un objeto
        var userData={
            "email":this.email
        }

        window.localStorage.setItem("userData", JSON.stringify(userData));

        var loginData = {
          "email" : this.email,
          "password" : this.password,
          "first_name" : this.first_name,
          "last_name" : this.last_name,
          "id" : this.email
        };

        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();

        console.log("Petición enviada");
      }

      showError(error) {
        console.log("Ha habido un error");
        console.log(error);

        this.isLogged = false;
      }

      goback(){
        window.location.href="/";
      }
    }

    window.customElements.define(SignIn.is, SignIn);
  </script>
</dom-module>
